extends layout

block content
  h1= title

  if authorsList.length
    ul
      each author in authorsList
        li
          a(href=`/catalog/author/${author.authorId}`)  #{author.name}
          |  (#{author.formattedDateOfBirth} - #{author.formattedDateOfDeath})
  else
    p There are no authors.
