extends layout

block content

  h1 ID: #{bookInstance.bookInstanceId}

  p #[strong Title: ]
    a(href=`/catalog/bookInstance/${bookInstance.bookInstanceId}`) #{bookInstance.title}
  p #[strong Imprint:] #{bookInstance.imprint}

  p #[strong Status: ]
    if bookInstance.status=='Available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status=='Maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status}

  if bookInstance.status!='Available'
    p #[strong Due back:] #{bookInstance.formattedDueDate}

  hr
  p
    a(href=`/catalog/bookInstance/${bookInstance.bookInstanceId}/delete`) Delete Book Instance
  p
    a(href=`/catalog/bookInstance/${bookInstance.bookInstanceId}/update`) Update Book    
